{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if products %}
<form method="POST">
    <table class="table">
        {{ form.hidden_tag() }}
        <tr>
            <td>{{ wtf.form_field(form.start_date) }}</td>
            <td>{{ wtf.form_field(form.end_date) }}</td>
            <td>{{ wtf.form_field(form.min_price) }}</td>
            <td>{{ wtf.form_field(form.max_price) }}</td>
            <td>{{ wtf.form_field(form.order) }}</td>
            <td style="vertical-align: middle">{{ wtf.form_field(form.submit) }}</td>
        </tr>
    </table>
</form>
<hr>
<h5>There are total {{ num }} results:</h5>
<form method="POST">
<table class="table table-hover table-striped">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Produce Date</th>
        <th>Delete</th>
    </thead>
    <tr>
        
    </tr>
    {% for p in products %}
    <tr>
        <td>{{ p.pid }}</td>
        <td><a href={{ url_for('adinfoproduct', pid=p.pid) }}>{{ p.pname }}</td>
        <td width="10%">{{ p.price }}</td>
        <td width="15%">{{ p.pdate }}</td>
        <td width="5%"><button type="submit" name="delete" value={{ p.pid }} class="btn btn-danger">Delete</button></td>
    </tr>
    {% endfor %}
</table>
</form>
<a href={{ url_for('add', item="product") }}><button class="btn btn-info">Add a new product</button></a>
<div style="text-align:center">
    <ul class="pagination">
        {% if prev_url %}
            <li><a href={{ prev_url }}>&laquo;</a></li>
        {% else %}
            <li><a>&laquo;</a></li>
        {% endif %}
        <li><a>=======</a></li>
        {% if next_url %}
            <li><a href={{ next_url }}>&raquo;</a></li>
        {% else %}
        <li><a>&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}