{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<form method="POST">
    <table class="table table-striped">
        <thead>
        <th>Item name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Remove</th>
        </thead>
        <tbody>
          {% for i in items %}
            <tr>
                <td><a href={{ url_for('product', pid=i.pid) }}>{{ i.pname }}</a></td>
                <td>{{ i.price }}</td>
                <td>{{ i.amount }}</td>
                <td><button type="submit" name="delete" value={{ i.pid }} class="btn btn-danger">Delete</button></td>
            </tr>
          {% endfor %}
          <tr>
              <td>Total price</td>
              <td>{{ sum }}</td>
              <td></td>
              <td></td>
          </tr>
        </tbody>
    </table>
</form>
    <hr>
    <h4>Want to add something in your bag? Click <a href={{ url_for("index") }}>here</a>!</h5>
{% endblock %}