{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h3>Product information:</h3>
{% if product %}
<table class="table table-bordered h3">
    <tr>
        <td>ID</td>
        <td>{{ product.pid }}</td>
        <td rowspan="5">{{ wtf.quick_form(bform) }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ product.pname }}</td>
    </tr>
    <tr>
        <td>Brand</td>
        <td>{{ product.bname }}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{ product.pricatename }} {{ product.subcatename }}</td>
    </tr>
    <tr>
        <td>Produce date</td>
        <td>{{ product.pdate }}</td>
    </tr>
</table>
<hr>
<h3>Comments:</h3>
<form method="POST">
    <table class="table">
        {% for c in comments %}
        <tr>
            <td class="h3" colspan="2"> {{ c.content }} </td>
        </tr>
        <tr class="info">
            <td class="h5"> Posted by <a href="{{ url_for('profile', cname=c.cname) }}">{{ c.cname }}</a> on {{
                c.postdate }}</td>
            {% if current_user.cid == c.cid or current_user.cname == "Admin" %}
            <td><button type="submit" name="delete" value={{ c.commid }} class="btn btn-danger">Delete</button></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</form>
{% endif %}

<div>
    {{ wtf.quick_form(cform) }}
</div>

{% endblock %}