{% extends "base.html" %}

{% block app_content %}
<table class="table h3">
    <tr>
        <td>ID</td>
        <td colspan="2">{{ user.cid }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td colspan="2">{{ user.cname }}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td colspan="2">{{ user.gender }}</td>
    </tr>
    <tr>
        <td>Birthday</td>
        <td colspan="2">{{ user.birthday }}</td>
    </tr>
    {% if current_user.cname == user.cname %}
    <tr>
        <form method="GET">
            <td>Password</td>
            <td><input type="text" class="form-control" name="password" id="password" placeholder={{ user.password }}></td>
            <td><button type="submit" class="btn btn-danger">Update</button></td>
        </form>
    </tr>
    {% endif %}
    <tr>
        <td>All Comments</td>
        <td colspan="2">
            <table class="table table-striped h5">
                {% for c in comments %}
                <tr>
                    <td>{{ c.pid }}</td>
                    <td>{{ c.content }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% endblock %}